# Module 2 Assessment

Welcome to your Mod 2 Assessment. You will be tested for your understanding of concepts and ability to solve problems that have been covered in class and in the curriculum.

Use any libraries you want to solve the problems in the assessment.

You will have up to two hours to complete this assessment.

The sections of the assessment are:

- SQL and Relational Databases
- Object Oriented Programming
- Accessing Data Through APIs
- HTML, CSS and Web Scraping
- Other Database Structures (MongoDB)

In [23]:
# import the necessary libraries

import requests
import json
import pandas as pd
import sqlite3

## Accessing Data Through APIs

In this section we'll be using PokeAPI to get data on Pokemon. Let's first define functions to get information from the API. Provided below is a URL that will get you started with the first 151 Pokemon! Run the cell below to see what we get.

In [3]:
url = 'https://pokeapi.co/api/v2/pokemon/?limit=100'
results = requests.get(url).json()['results']
results

[Read the documentation here](https://pokeapi.co/) for information on navigating this API and use the API to obtain data to answer the following questions.

1. For any **one** Pokemon, retrive the following information in a dictionary format with the following keys:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types
    - Abilities
    
    
2. Get the same information for the first **151** Pokemon as a list of dictionaries ordered by Pokemon ID. Print the first and last elements of the dictionary. (Hint: Use pagination)

## Object Oriented Programming

We're going to use the data gathered in the previous section on APIs for this section on Object Oriented Programming to instantiate Pokemon objects and write instance methods.

### Creating a Class

1. Create a class called `Pokemon` with an `__init__` method to instantiate the following attributes:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types
    - Abilities
    
    
### Instantiating Objects

2. Instantiate 151 Pokemon objects using the data you obtained from the API.

 
For `Types` and `Abilities`, you will want to write helper functions to have each attribute just be a list of types and a list of abilities.

- i.e. `bulbasaur.types` should return `['poison', 'grass']`

In [186]:
# if you are unable to get the data from the API, this json file has the list of dictionaries

with open('data/pokemon.json') as f:  
    pokelist = json.load(f)

In [94]:
def typelist(types):
    result = []
    for i in range(len(types)):
        result.append(types[i]['type']['name'])
    return result

In [101]:
def abilitylist(abilities):
    result = []
    for i in range(len(abilities)):
        result.append(abilities[i]['ability']['name'])
    return result

In [187]:
class Pokemon:
    
    all_pokemon = []
    
    def __init__(self, ID, name, exp, weight, height, types, abilities):
        self.ID = ID
        self.name = name
        self.exp = exp
        self.weight = weight
        self.height = height
        self.types = types
        self.abilities = abilities
        Pokemon.all_pokemon.append(self)
        
    def bmi(self):
        return (self.weight*0.1)/(self.height*0.1)**2

In [189]:
for d in pokelist:
    a = abilitylist(d['abilities'])
    t = typelist(d['types'])
    Pokemon(d['id'], d['name'], d['base_experience'], d['weight'], d['height'], t, a)

In [190]:
# run this cell to test and check your code

bulbasaur = Pokemon.all_pokemon[0]

print('Name: ' + bulbasaur.name.title() + '\n' +
      'Base experience: ' + str(bulbasaur.exp) + '\n' +
      'Weight: ' + str(bulbasaur.weight) + '\n' +
      'Height: ' + str(bulbasaur.height) + '\n' +
      'Types: ' + str(bulbasaur.types) + '\n' +
      'Abilities: ' + str(bulbasaur.abilities) + '\n'
     )

Name: Bulbasaur
Base experience: 64
Weight: 69
Height: 7
Types: ['poison', 'grass']
Abilities: ['chlorophyll', 'overgrow']

### Instance Methods

3. Write an instance method within the class `Pokemon` to find the BMI of a Pokemon. BMI is defined by $\frac{weight}{height^{2}}$ with weight in **kilograms** and height in **meters**. The height and weight data of Pokemon from the API is in **decimeters** and **hectograms** respectively.


    1 decimeter = 0.1 meters
    1 hectogram = 0.1 kilograms

In [192]:
# run this cell to test and check your code
# you probably have to rerun the code to instantiate your objects

bulbasaur = Pokemon.all_pokemon[0]

print("{}'s BMI is {}.".format(bulbasaur.name.title(), bulbasaur.bmi())) # 14.08

Bulbasaur's BMI is 14.081632653061222.

## SQL and Relational Databases

For this section, we've put the Pokemon data into SQL tables. You won't need to use your list of dictionaries or the JSON file for this section. The schema of `pokemon.db` is as follows:

(insert dbdiagram)

Assign your SQL queries as strings to the variables `q1`, `q2`, etc. and run the cells at the end of this section to print your results as Pandas DataFrames.

- q1: query all columns from `Pokemon` the Pokemon that have base_experience above 200
- q2: query the id, name, type1 and type2 of Pokemon that have **water** types

In [183]:
cnx = sqlite3.connect('data/pokemon.db')

In [177]:
# pokemon.set_index('id').drop('abilities', axis=1).to_sql(name='pokemon', con=cnx)

In [184]:
pd.read_sql('select * from pokemon', cnx)

      id        name  base_experience  weight  height     type1    type2
0      1   bulbasaur               64      69       7     grass   poison
1      2     ivysaur              142     130      10     grass   poison
2      3    venusaur              236    1000      20     grass   poison
3      4  charmander               62      85       6      fire     None
4      5  charmeleon              142     190      11      fire     None
5      6   charizard              240     905      17      fire   flying
6      7    squirtle               63      90       5     water     None
7      8   wartortle              142     225      10     water     None
8      9   blastoise              239     855      16     water     None
9     10    caterpie               39      29       3       bug     None
10    11     metapod               72      99       7       bug     None
11    12  butterfree              178     320      11       bug   flying
12    13      weedle               39      32       3       bug   poison
13    14      kakuna               72     100       6       bug   poison
14    15    beedrill              178     295      10       bug   poison
15    16      pidgey               50      18       3    normal   flying
16    17   pidgeotto              122     300      11    normal   flying
17    18     pidgeot              216     395      15    normal   flying
18    19     rattata               51      35       3    normal     None
19    20    raticate              145     185       7    normal     None
20    21     spearow               52      20       3    normal   flying
21    22      fearow              155     380      12    normal   flying
22    23       ekans               58      69      20    poison     None
23    24       arbok              157     650      35    poison     None
24    25     pikachu              112      60       4  electric     None
25    26      raichu              218     300       8  electric     None
26    27   sandshrew               60     120       6    ground     None
27    28   sandslash              158     295      10    ground     None
28    29   nidoran-f               55      70       4    poison     None
29    30    nidorina              128     200       8    poison     None
..   ...         ...              ...     ...     ...       ...      ...
121  122     mr-mime              161     545      13   psychic    fairy
122  123     scyther              100     560      15       bug   flying
123  124        jynx              159     406      14       ice  psychic
124  125  electabuzz              172     300      11  electric     None
125  126      magmar              173     445      13      fire     None
126  127      pinsir              175     550      15       bug     None
127  128      tauros              172     884      14    normal     None
128  129    magikarp               40     100       9     water     None
129  130    gyarados              189    2350      65     water   flying
130  131      lapras              187    2200      25     water      ice
131  132       ditto              101      40       3    normal     None
132  133       eevee               65      65       3    normal     None
133  134    vaporeon              184     290      10     water     None
134  135     jolteon              184     245       8  electric     None
135  136     flareon              184     250       9      fire     None
136  137     porygon               79     365       8    normal     None
137  138     omanyte               71      75       4      rock    water
138  139     omastar              173     350      10      rock    water
139  140      kabuto               71     115       5      rock    water
140  141    kabutops              173     405      13      rock    water
141  142  aerodactyl              180     590      18      rock   flying
142  143     snorlax              189    4600      21    normal     None
143  144    articuno              261     554      17       ice   flying
144  145      zapdos              261     526      16  electric   flying
145  146     moltres              261     600      20      fire   flying
146  147     dratini               60      33      18    dragon     None
147  148   dragonair              147     165      40    dragon     None
148  149   dragonite              270    2100      22    dragon   flying
149  150      mewtwo              306    1220      20   psychic     None
150  151         mew              270      40       4   psychic     None

[151 rows x 7 columns]

In [185]:
q1 = "select * from pokemon where base_experience > 150"
pd.read_sql(q1, cnx)

     id        name  base_experience  weight  height     type1     type2
0     3    venusaur              236    1000      20     grass    poison
1     6   charizard              240     905      17      fire    flying
2     9   blastoise              239     855      16     water      None
3    12  butterfree              178     320      11       bug    flying
4    15    beedrill              178     295      10       bug    poison
5    18     pidgeot              216     395      15    normal    flying
6    22      fearow              155     380      12    normal    flying
7    24       arbok              157     650      35    poison      None
8    26      raichu              218     300       8  electric      None
9    28   sandslash              158     295      10    ground      None
10   31   nidoqueen              227     600      13    poison    ground
11   34    nidoking              227     620      14    poison    ground
12   36    clefable              217     400      13     fairy      None
13   38   ninetales              177     199      11      fire      None
14   40  wigglytuff              196     120      10    normal     fairy
15   42      golbat              159     550      16    poison    flying
16   45   vileplume              221     186      12     grass    poison
17   49    venomoth              158     125      15       bug    poison
18   53     persian              154     320      10    normal      None
19   55     golduck              175     766      17     water      None
20   57    primeape              159     320      10  fighting      None
21   59    arcanine              194    1550      19      fire      None
22   62   poliwrath              230     540      13     water  fighting
23   65    alakazam              225     480      15   psychic      None
24   68     machamp              227    1300      16  fighting      None
25   71  victreebel              221     155      17     grass    poison
26   73  tentacruel              180     550      16     water    poison
27   76       golem              223    3000      14      rock    ground
28   78    rapidash              175     950      17      fire      None
29   80     slowbro              172     785      16     water   psychic
..  ...         ...              ...     ...     ...       ...       ...
40  106   hitmonlee              159     498      15  fighting      None
41  107  hitmonchan              159     502      14  fighting      None
42  110     weezing              172      95      12    poison      None
43  112      rhydon              170    1200      19    ground      rock
44  113     chansey              395     346      11    normal      None
45  115  kangaskhan              172     800      22    normal      None
46  117      seadra              154     250      12     water      None
47  119     seaking              158     390      13     water      None
48  121     starmie              182     800      11     water   psychic
49  122     mr-mime              161     545      13   psychic     fairy
50  124        jynx              159     406      14       ice   psychic
51  125  electabuzz              172     300      11  electric      None
52  126      magmar              173     445      13      fire      None
53  127      pinsir              175     550      15       bug      None
54  128      tauros              172     884      14    normal      None
55  130    gyarados              189    2350      65     water    flying
56  131      lapras              187    2200      25     water       ice
57  134    vaporeon              184     290      10     water      None
58  135     jolteon              184     245       8  electric      None
59  136     flareon              184     250       9      fire      None
60  139     omastar              173     350      10      rock     water
61  141    kabutops              173     405      13      rock     water
62  142  aerodactyl              180     590      18      rock    flying
63  143     snorlax              189    4600      21    normal      None
64  144    articuno              261     554      17       ice    flying
65  145      zapdos              261     526      16  electric    flying
66  146     moltres              261     600      20      fire    flying
67  149   dragonite              270    2100      22    dragon    flying
68  150      mewtwo              306    1220      20   psychic      None
69  151         mew              270      40       4   psychic      None

[70 rows x 7 columns]

In [182]:
q2 = "select id, name, type1, type2 from pokemon where type1 == 'water' or type2 == 'water'"
pd.read_sql(q2, cnx)

     id        name  type1     type2
0     7    squirtle  water      None
1     8   wartortle  water      None
2     9   blastoise  water      None
3    54     psyduck  water      None
4    55     golduck  water      None
5    60     poliwag  water      None
6    61   poliwhirl  water      None
7    62   poliwrath  water  fighting
8    72   tentacool  water    poison
9    73  tentacruel  water    poison
10   79    slowpoke  water   psychic
11   80     slowbro  water   psychic
12   86        seel  water      None
13   87     dewgong  water       ice
14   90    shellder  water      None
15   91    cloyster  water       ice
16   98      krabby  water      None
17   99     kingler  water      None
18  116      horsea  water      None
19  117      seadra  water      None
20  118     goldeen  water      None
21  119     seaking  water      None
22  120      staryu  water      None
23  121     starmie  water   psychic
24  129    magikarp  water      None
25  130    gyarados  water    flying
26  131      lapras  water       ice
27  134    vaporeon  water      None
28  138     omanyte   rock     water
29  139     omastar   rock     water
30  140      kabuto   rock     water
31  141    kabutops   rock     water